div {
background-color: green;
}
.c1 {
width: 80%;
height: 60%;
position: absolute;
}
.c2 {
border: 1px white solid;
width: 90%;
height: 80%;
position: absolute;
margin:5%;
}
.c3 {
border: 1px white solid;
width:15%;
height: 50%;
position: absolute;
margin-left:5%;
margin-top: 12%;
}

.c4 {
border: 1px white solid;
width: 15%;
height: 50%;
position: absolute;
margin-left:80%;
margin-top: 12%;
}

.cir {
width: 20%;
height: 35%;
border: 1px solid white;
border-radius: 90%;
position: absolute;
margin-left: 40%;
margin-top: 15%;
}

.i1 {
position: absolute;
margin-left: 19%;
margin-top: 14%;
}

.i2{
position: absolute;
margin-left: 55%;
margin-top: 10%;
}

.i3{
position: absolute;
margin-left: 75%;
margin-top: 35%;
}